*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root {
    --clr: #f15d07;
  }
html{
    scroll-behavior: smooth;
}
section{
    width: 100%;
    height: 100vh;
    background-color: #303030;
}
section nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0px;
    left: 0px;
    background: rgb(5, 5, 5);
    box-shadow: 0 0 10px rgba(122, 121, 121, 0.5);
    z-index: 1000;
}
.logo img{
    width: 100px;
    margin: 7px 0px;
}
section nav ul{
    list-style: none;
}
section nav ul li a{
    text-decoration: none;
    color: rgb(245, 239, 239);
    font-weight: 500;
    font-size: 17px;
}
section nav ul li{
    display: inline-block;
    margin: 0px 15px;
}
section nav ul li a:hover{
    color: rgba(230, 27, 4, 0.944);
    font-weight: 600;
}
section nav .icon i{
    font-size: 18px;
    color: rgb(246, 243, 243);
    margin: 0px 5px;
    
}
section nav .icon i:hover{
    color: rgba(230, 27, 4, 0.944);
    font-weight: 600;
}
section .main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top:130px;
    background-color: #2a2a2a;
    
}
section .main .main-text h1{
    font-size: 60px;
    position: relative;
    top: -90px;
    left: 20px;
    color: white;
}
section .main .main-text h1 span{
    margin-left: 15px;
    color: var(--clr);
    font-family: mv boli;
    line-height: 22px;
    font-size: 70px;
}
section .main .main-img img{
    width: 700px;
    position: relative;
    left: 70px;
    height: 550px;
}
section p{
    width: 650px;
    text-align: justify;
    position: relative;
    left: 123px;
    bottom: 120px;
    line-height: 22px;
    color: #cccccc;
}
section .main-btn{
    background: var(--clr);
    position: relative;
    left: 123px;
    bottom: 70px;
    width: 150px;
    padding: 12px 25px;
}
section .main-btn a{
    color: #fff;
    margin-right: 5px;
    text-decoration: none;
}
section .main-btn i{
    color: #fff;
    transition: 0.3s;
}
section .main-btn:hover i{
    transform: translateX(7px);
}

/* About */

.about{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
    background-color: rgb(129, 123, 123);
}
.about .about-main{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.about .about-main .image img{
    width: 630px;
    position: relative;
    top: 45px;
    height: 550px;
}
.about .about-main .about-text h1 span{
    color: var(--clr);
    margin-right: 15px;
    font-family: mv boli;
}
.about .about-main .about-text h1{
    font-size: 55px;
    position: relative;
    bottom: 50px;
    color: white;
}
.about .about-main .about-text h3{
    font-size: 30px;
    margin: 0 0 50px 0;
    color: white;
}
.about .about-main .about-text p{
    width: 650px;
    text-align: justify;
    margin-right: 30px;
    line-height: 22px;
    color: white;
}
.about-btn{
    background-color: var(--clr);
    padding: 12px 25px;
    text-decoration: none;
    color: #fff;
    position: relative;
    left: 52%;
    bottom: 15px;
    border: 1px solid rgb(140, 139, 139);
    border-radius: 5%;
    box-shadow:2px 4px hsl(39, 96%, 61%);
}
.about-btn:hover{
    background-color: hsl(39, 96%, 61%);
    box-shadow:2px 4px var(--clr);

}

/* Menu */

.menu{
    width:100%;
    padding: 70px 0;
    background-color: #858282;

}
.menu h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.menu h1 span{
    color: var(--clr);
    margin-left: 15px;
    font-family: mv boli;
}
.menu h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: var(--clr);
    display: block;
    position: relative;
    bottom: 15px;

}
.menu .menu-box{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}
.menu .menu-box .menu-card{
    width: 325px;
    height: 480px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background: rgb(149, 148, 148);
}
.menu .menu-box .menu-card .menu-img{
    width: 300px;
    height: 245px;
    margin: 0 auto;
    overflow: hidden;
}
.menu .menu-box .menu-card .menu-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}
.menu .menu-box .menu-card .menu-img:hover img{
    transform: scale(1.1);
}
.menu .menu-box .menu-card .small-card{
    width: 45px;
    height: 45px;
    float: right;
    position: relative;
    top: -240px;
    right: -8px;
    opacity: 0;
    border-radius: 7px;
    transition: 0.3s;
}
.menu .menu-box .menu-card:hover .small-card{
    position: relative;
    top: -240px;
    right: 20px;
    opacity: 1;
}
.menu .menu-box .menu-card .small-card i{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    color: #000;
    cursor: pointer;
    text-shadow: 0 0 6px #000;
    transition: 0.2s;
}
.menu .menu-box .menu-card .small-card i:hover{
    color: rgb(254, 64, 39);
}
.menu .menu-box .menu-card .menu-info h2{
    width: 60%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 25px;
    color: var(--clr);
}
.menu .menu-box .menu-card .menu-info p{
    text-align: center;
    margin-top: 8px;
    line-height: 21px;
}
.menu .menu-box .menu-card .menu-info h3{
    text-align: center;
    margin-top: 10px;
}
.menu .menu-box .menu-card .menu-info .menu-icon{
    color: var(--clr);
    text-align: center;
    margin: 10px 0 20px 0;
}
.menu .menu-box .menu-card .menu-info .menu-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background: #000;
    padding: 8px 10px;
    margin: 0 80px;
    border: 0px;
    border-radius: 15px;
    transition: 0.3s;
    
}
.menu .menu-box .menu-card .menu-info .menu-btn:hover{
    background: green;
}

/* Gallary */

.gallary{
    width: 100%;
    padding: 70px 0;
    background-color: rgb(122, 121, 121);
}
.gallary h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallary h1 span{
    margin-left: 15px;
    color: var(--clr);
    font-family: mv boli;
}

.gallary h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: var(--clr);
    display: block;
    position: relative;
    bottom: 15px;
}
.gallary .gallary-img-box{
    width: 95%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.gallary .gallary-img-box .gallary-img{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
}
.gallary .gallary-img-box .gallary-img img{
    width: 100%;
    transition: .3s;
}
.gallary .gallary-img-box .gallary-img:hover img{
    opacity: 0.4;
}
.gallary .gallary-img-box .gallary-img h3{
    position: absolute;
    font-size: 35px;
    margin-bottom: 130PX;
    color: var(--clr);
    font-family: polo;
    z-index: 5;
    opacity: 0;
    transition: 0.3s;
}
.gallary .gallary-img-box .gallary-img:hover h3{
    opacity: 1;
}
.gallary .gallary-img-box .gallary-img p{
    position: absolute;
    width: 400px;
    margin-top: 30px;
    text-align: center;
    color: white;
    line-height: 22px;
    opacity: 0;
    z-index: 5;
    transition: 0.3s;
}
.gallary .gallary-img-box .gallary-img:hover p{
    opacity: 1;
}
.gallary .gallary-img-box .gallary-img .gallary-btn{
    position: absolute;
    margin-top: 180px;
    color: black;
    background: var(--clr);
    padding: 7px 25px;
    text-decoration: none;
    border: 0px;
    border-radius: 15px;
    opacity: 0;
    transform: translateY(45px);
    z-index: 5;
    transition: 0.3s;
}
.gallary .gallary-img-box .gallary-img:hover .gallary-btn{
    opacity: 1;
    transform: translateY(0);
}

/* Review */

.review{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
    background: #827474;
}
.review h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.review h1 span{
    margin-left: 15px;
    color: var(--clr);
    font-family: mv boli;
}
.review h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: var(--clr);
    position: relative;
    bottom: 15px;
    display: block;
}
.review .review-box{
    width: 95%;
    margin: 70px auto;
    display: flex;
}
.review .review-box .review-card{
    width: 350px;
    height: 445px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
    border-radius: 8px;
    padding: 8px 20px;
    margin: 0px 8px;
}
.review .review-box .review-card .review-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.3s;
}
.review .review-box .review-card:hover .review-profile{
    transform: translateY(-60px);
}
.review .review-box .review-card .review-profile img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 5px solid wheat;
}
.review .review-box .review-card .review-text{
    text-align: center;
}
.review .review-box .review-card .review-text .name{
    color: #000;
    transition: 0.3s;
}
.review .review-box .review-card:hover .review-text .name{
    transform: translateY(-50px);
}
.review .review-box .review-card .review-text .review-icon{
    color: var(--clr);
    transition: 0.3s;
}
.review .review-box .review-card:hover .review-text .review-icon{
    transform: translateY(-30px);
}
.review .review-box .review-card .review-text .review-social i{
    margin: 5px 1px;
    font-size: 15px;
    opacity: 0;
    cursor: pointer;
    transition: 0.3s;
}
.review .review-box .review-card:hover .review-text .review-social i{
    opacity: 1;
    transform: translateY(-8px);
}
.review .review-box .review-card .review-text p{
    text-align: center;
    line-height: 22px;
    transition: 0.3s;
}
.review .review-box .review-card:hover .review-text p{
    margin-top: 5px;
    
}


/* FeedBack */

.order{
    margin-top: 30px;
    width: 100%;
    height: 100vh;
    padding: 70px 0px;
    background-image: url(./images/customer-rating..jpg);
    background-size: cover;
}
.order h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 55px;
}
.order h1 span{
    color: var(--clr);
    margin-right: 15px;
    font-family: mv boli;

}
.order h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: var(--clr);
    display: block;
    position: relative;
    bottom: 15px;
}
.order .order-main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}
.order .order-main form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 10px;
}
 
.order .order-main form .input p{
    line-height: 25px;
    font-weight: 800;
}
.order .order-main form .input{
    margin: 5px;
}

.order .order-main form .input input{
    width: 300px;
    height: 35px;
    padding: 0 10px;
    border: 3px solid #0e0d0d;
    background: #fbd2d2;
    outline: none;
    border-radius: 3px;
}
.order .order-main form .input input:focus{
    border: 2px solid var(--clr);
}
.order .order-btn{
    padding: 10px 10px;
    background: var(--clr);
    color: white;
    width: 50%;
    font-size: 20px;
    text-align: center;
    margin-top: 500px;
    margin-left: 700px;
    text-decoration: none;
    border: 2px solid #827474;
    border-radius: 10%;
    font-weight: 400;
}
.order .order-btn:hover{
    background: rgba(248, 131, 6, 0.847);
    color:white;
    font-weight: 800;
}
/* Team */
.team{
    padding-top: 50px;
    width: 100%;
    height: 90vh;
    background-image: url(./images/chef.avif);
    background-size: cover;
    background-position: center;
}
.team h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    margin-bottom: 30px;    
}
.team h1 span{
    color: var(--clr);
    margin-left: 15px;
    font-family: mv boli;
}
.team h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: var(--clr);
    display: block;
    position: relative;
    bottom: 15px;
}
.team .team-box{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    position: 13%;
}
.team .team-box .profile{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    transition: 0.4s;
}
.team .team-box .profile:hover{
    border-radius: 20px;
    height: 320px;
}
.team .team-box .profile img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    z-index: 2;
    transition: 0.4s;
}
.team .team-box .profile:hover img{
    border-radius: 20px;
    margin-top: -230px;
}
.team .team-box .profile .info{
    position: absolute;
    text-align: center;
    top: 25%;
    transition: 0.4s;
}
.team .team-box .profile:hover .info{
    top: 60%;
}
.team .team-box .profile .info .name{
    color: var(--clr);
    margin-bottom: 15px;
}
.team .team-box .profile .info .bio{
    width: 70%;
    text-align: center;
    margin: 0 auto 10px auto;
}
.team .team-box .profile .info .team-icon i{
    margin: 10px 5px 5px 0;
    cursor: pointer;
    transition: 0.3s;
}
.team .team-box .profile .info .team-icon i:hover{
    color: var(--clr);
}

/* Footer */

footer{
    width: 100%;
    padding: 30px 0 0 20px;
    background: #161616;
}
footer .footer-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
footer .footer-main .footer-tag{
    text-align: center;
}
footer .footer-main .footer-tag h2{
    color: #efebeb;
    margin-bottom: 25px;
    font-size: 30px;
}
footer .footer-main .footer-tag h2:hover{
    color: var(--clr);
}
footer .footer-main .footer-tag p{
    margin: 10px 0;
    color: white;
}
footer .footer-main .footer-tag p:hover{
    color: var(--clr);
}

footer .footer-main .footer-tag i{
    margin: 0 5px;
    cursor: pointer;
    color: white;
}
footer .footer-main .footer-tag i:hover{
    color: var(--clr);
}